### Additional and VERY useful dply utilities
Source: https://www.listendata.com/2016/08/dplyr-tutorial.html

In [ ]:
install.packages("dplyr")
library(dplyr)

In [14]:
mydata = read.csv("https://raw.githubusercontent.com/deepanshu88/data/master/sampledata.csv")

In [3]:
# take a look at the data set
mydata %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### Selecting Random N Rows
The sample_n function returns randomly # of rows. In the example below, it returns randomly 5 rows.

In [4]:
sample_n(mydata,5)

  Index State    Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 M     Maryland 1579713 1404700 1849798 1397738 1310270 1789128 1112765
2 O     Oregon   1794912 1726665 1805445 1133510 1502242 1419251 1482786
3 V     Virginia 1134317 1163996 1891068 1853855 1708715 1197698 1803330
4 I     Idaho    1353210 1438538 1739154 1541015 1122387 1772050 1335481
5 H     Hawaii   1461570 1200280 1213993 1245931 1459383 1430465 1919423
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1967225 1486246 1872327 1175819 1314343 1979529 1569566
2 1862351 1103794 1935687 1905378 1522129 1509171 1893515
3 1590043 1516758 1171686 1262342 1647032 1706707 1850394
4 1748608 1436809 1456340 1643855 1312561 1713718 1757171
5 1928416 1330509 1902816 1695126 1517184 1948108 1150882

Selecting Random Fraction of Rows - 10%

In [5]:
sample_frac(mydata,0.1)

  Index State                Y2002   Y2003   Y2004   Y2005   Y2006   Y2007
1 L     Louisiana            1584734 1110625 1868456 1751920 1233709 1920301
2 M     Mississippi          1983285 1292558 1631325 1943311 1354579 1731643
3 I     Idaho                1353210 1438538 1739154 1541015 1122387 1772050
4 D     District of Columbia 1111437 1993741 1374643 1827949 1803852 1595981
5 O     Ohio                 1802132 1648498 1441386 1670280 1534888 1314824
  Y2008   Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1185085 1124853 1498662 1210385 1234234 1287663 1908602 1403857
2 1428291 1568049 1383227 1629132 1988270 1907777 1649668 1991232
3 1335481 1748608 1436809 1456340 1643855 1312561 1713718 1757171
4 1193245 1739748 1707823 1353449 1979708 1912654 1782169 1410183
5 1516621 1511460 1585465 1887714 1227303 1840898 1880804 1573117

### Remove Duplicates - Rows based on all the variables (Complete Row)

In [6]:
# The distinct function is used to eliminate duplicates.
x1 = distinct(mydata)

x1 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### Remove Duplicate Rows based on a variable
- The .keep_all function is used to retain all other variables in the output data frame.

In [7]:
x2 = distinct(mydata, Index, .keep_all= TRUE)

x2 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
3 D     Delaware   1330403 1268673 1706751 1403759 1441351 1300836 1762096
4 F     Florida    1964626 1468852 1419738 1362787 1339608 1278550 1756185
5 G     Georgia    1929009 1541565 1810773 1779091 1326846 1223770 1773090
6 H     Hawaii     1461570 1200280 1213993 1245931 1459383 1430465 1919423
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1663809 1624509 1639670 1921845 1156536 1388461 1644607
3 1553585 1370984 1318669 1984027 1671279 1803169 1627508
4 1818438 1198403 1497051 1131928 1107448 1407784 1170389
5 1630325 1145473 1851245 1850111 1887157 1259353 1725470
6 1928416 1330509 1902816 1695126 1517184 1948108 1150882

### Remove- Duplicates Rows based on multiple variables
- In the example below, we are using two variables - Index, Y2010 to determine uniqueness.

In [8]:
x2 = distinct(mydata, Index, Y2010, .keep_all= TRUE)
x2 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### Select( ) Function
- It is used to select only desired variables.
- select() syntax : select(data , ....)
- data : Data Frame
- .... : Variables by name or by function

In [9]:
# Selecting Variables (or Columns)
# Suppose you are asked to select only a few variables. The code below selects variables "Index", columns from "State" to "Y2008".
mydata2 = select(mydata, Index, State:Y2008)

mydata2 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146

### Dropping Variables 
The minus sign before a variable tells R to drop the variable.

In [16]:
mydata3 = select(mydata, -Index, -State)

mydata3 %>% head()

  Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010
1 1296530 1317711 1118631 1492583 1107408 1440134 1945229 1944173 1237582
2 1170302 1960378 1818085 1447852 1861639 1465841 1551826 1436541 1629616
3 1742027 1968140 1377583 1782199 1102568 1109382 1752886 1554330 1300521
4 1485531 1994927 1119299 1947979 1669191 1801213 1188104 1628980 1669295
5 1685349 1675807 1889570 1480280 1735069 1812546 1487315 1663809 1624509
6 1343824 1878473 1886149 1236697 1871471 1814218 1875146 1752387 1913275
  Y2011   Y2012   Y2013   Y2014   Y2015
1 1440756 1186741 1852841 1558906 1916661
2 1230866 1512804 1985302 1580394 1979143
3 1130709 1907284 1363279 1525866 1647724
4 1928238 1216675 1591896 1360959 1329341
5 1639670 1921845 1156536 1388461 1644607
6 1665877 1491604 1178355 1383978 1330736

The above code can also be written like :

In [ ]:
# put the vars in a vector
mydata = select(mydata, -c(Index,State))

### Selecting or Dropping Variables starts with 'Y'
#### The following functions helps you to select variables based on their names:
- starts_with() --Starts with a prefix
- ends_with()	-- Ends with a prefix
- contains() -- Contains a literal string
- matches() -- Matches a regular expression
- num_range() --	Numerical range like x01, x02, x03.
- one_of() --	Variables in character vector.
- everything() --	All variables.

In [17]:
mydata33 = select(mydata, -starts_with("Y"))

#### Selecting Variables contain 'I' in their names

In [18]:
mydata4 = select(mydata, contains("I"))

mydata4 %>% head()

  Index
1 A
2 A
3 A
4 A
5 C
6 C

#### Reorder Variables
The code below keeps variable 'State' in the front and the remaining variables follow that.

In [19]:
mydata5 = select(mydata, State, everything())

mydata5 %>% head()

  State      Index Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 Alabama    A     1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 Alaska     A     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 Arizona    A     1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 Arkansas   A     1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 California C     1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 Colorado   C     1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### rename( ) Function
It is used to change variable name.

- rename() syntax : rename(data , new_name = old_name)
- data : Data Frame
- new_name : New variable name you want to keep
- old_name : Existing Variable Name

In the following code, we are renaming 'Index' variable to 'Index1'.

In [20]:
mydata6 = rename(mydata, Index1=Index)

mydata6 %>% head()

  Index1 State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A      Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A      Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A      Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A      Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C      California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C      Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### filter( ) Function
It is used to subset data with matching logical conditions.

Suppose you need to subset data. You want to filter rows and retain only those values in which Index is equal to A.

In [21]:
mydata7 = filter(mydata, Index == "A")

mydata7 %>% head()

  Index State    Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama  1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska   1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona  1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas 1485531 1994927 1119299 1947979 1669191 1801213 1188104
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341

### Multiple Selection Criteria with Filter
The %in% operator can be used to select multiple items. In the following program, we are telling R to select rows against 'A' and 'C' in column 'Index'. * rmebet to chnage the Index name to Index1!

In [29]:
mydata7 = filter(mydata6, Index1 %in% c("A", "C"))

mydata7

  Index1 State       Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A      Alabama     1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A      Alaska      1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A      Arizona     1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A      Arkansas    1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C      California  1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C      Colorado    1343824 1878473 1886149 1236697 1871471 1814218 1875146
7 C      Connecticut 1610512 1232844 1181949 1518933 1841266 1976976 1764457
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736
7 1972730 1968730 1945524 1228529 1582249 1503156 1718072

### 'AND' Condition in Selection Criteria
Suppose you need to apply 'AND' condition. In this case, we are picking data for 'A' and 'C' in the column 'Index' and income greater than 1.3 million in Year 2002.

In [34]:
mydata8 = filter(mydata6, Index1 %in% c("A", "C") & Y2002 >= 1300000 )

mydata8 %>% head(10)

  Index1 State       Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A      Arizona     1742027 1968140 1377583 1782199 1102568 1109382 1752886
2 A      Arkansas    1485531 1994927 1119299 1947979 1669191 1801213 1188104
3 C      California  1685349 1675807 1889570 1480280 1735069 1812546 1487315
4 C      Colorado    1343824 1878473 1886149 1236697 1871471 1814218 1875146
5 C      Connecticut 1610512 1232844 1181949 1518933 1841266 1976976 1764457
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1554330 1300521 1130709 1907284 1363279 1525866 1647724
2 1628980 1669295 1928238 1216675 1591896 1360959 1329341
3 1663809 1624509 1639670 1921845 1156536 1388461 1644607
4 1752387 1913275 1665877 1491604 1178355 1383978 1330736
5 1972730 1968730 1945524 1228529 1582249 1503156 1718072

### 'OR' Condition in Selection Criteria
The 'I' denotes OR in the logical condition. It means any of the two conditions.

In [33]:
mydata9 = filter(mydata6, Index1 %in% c("A", "C") | Y2002 >= 1300000)

mydata9 %>% head(10)

   Index1 State       Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1  A      Alabama     1296530 1317711 1118631 1492583 1107408 1440134 1945229
2  A      Alaska      1170302 1960378 1818085 1447852 1861639 1465841 1551826
3  A      Arizona     1742027 1968140 1377583 1782199 1102568 1109382 1752886
4  A      Arkansas    1485531 1994927 1119299 1947979 1669191 1801213 1188104
5  C      California  1685349 1675807 1889570 1480280 1735069 1812546 1487315
6  C      Colorado    1343824 1878473 1886149 1236697 1871471 1814218 1875146
7  C      Connecticut 1610512 1232844 1181949 1518933 1841266 1976976 1764457
8  D      Delaware    1330403 1268673 1706751 1403759 1441351 1300836 1762096
9  F      Florida     1964626 1468852 1419738 1362787 1339608 1278550 1756185
10 G      Georgia     1929009 1541565 1810773 1779091 1326846 1223770 1773090
   Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1  1944173 1237582 1440756 1186741 1852841 1558906 1916661
2  1436541 1629616 1230866 1512804 1985302 1580394 1979143
3  1554330 1300521 1130709 1907284 1363279 1525866 1647724
4  1628980 1669295 1928238 1216675 1591896 1360959 1329341
5  1663809 1624509 1639670 1921845 1156536 1388461 1644607
6  1752387 1913275 1665877 1491604 1178355 1383978 1330736
7  1972730 1968730 1945524 1228529 1582249 1503156 1718072
8  1553585 1370984 1318669 1984027 1671279 1803169 1627508
9  1818438 1198403 1497051 1131928 1107448 1407784 1170389
10 1630325 1145473 1851245 1850111 1887157 1259353 1725470

### NOT Condition
The "!" sign is used to reverse the logical condition.

In [35]:
mydata10 = filter(mydata6, !Index1 %in% c("A", "C"))

mydata10 %>% head()

  Index1 State                Y2002   Y2003   Y2004   Y2005   Y2006   Y2007
1 D      Delaware             1330403 1268673 1706751 1403759 1441351 1300836
2 D      District of Columbia 1111437 1993741 1374643 1827949 1803852 1595981
3 F      Florida              1964626 1468852 1419738 1362787 1339608 1278550
4 G      Georgia              1929009 1541565 1810773 1779091 1326846 1223770
5 H      Hawaii               1461570 1200280 1213993 1245931 1459383 1430465
6 I      Idaho                1353210 1438538 1739154 1541015 1122387 1772050
  Y2008   Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1762096 1553585 1370984 1318669 1984027 1671279 1803169 1627508
2 1193245 1739748 1707823 1353449 1979708 1912654 1782169 1410183
3 1756185 1818438 1198403 1497051 1131928 1107448 1407784 1170389
4 1773090 1630325 1145473 1851245 1850111 1887157 1259353 1725470
5 1919423 1928416 1330509 1902816 1695126 1517184 1948108 1150882
6 1335481 1748608 1436809 1456340 1643855 1312561 1713718 1757171

### CONTAINS Condition
The grepl function is used to search for pattern matching. In the following code, we are looking for records wherein column state contains 'Ar' in their name.

In [38]:
mydata10 = filter(mydata6, grepl("Ar", State))

mydata10

  Index1 State    Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A      Arizona  1742027 1968140 1377583 1782199 1102568 1109382 1752886
2 A      Arkansas 1485531 1994927 1119299 1947979 1669191 1801213 1188104
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1554330 1300521 1130709 1907284 1363279 1525866 1647724
2 1628980 1669295 1928238 1216675 1591896 1360959 1329341

### summarise( ) Function
#### Summarize selected variables
In the example below, we are calculating mean and median for the variable Y2015.

In [43]:
summarize(mydata, Y2015_mean = mean(Y2015), Y2015_med=median(Y2015))

  Y2015_mean Y2015_med
1 1588297    1627508

### SQL-Style CASE WHEN Statement

We can use case_when() function to write nested if-else queries. In case_when(), you can use variables directly within case_when() wrapper. TRUE refers to ELSE statement.

In [49]:
mydata %>% mutate(state_flag = case_when(is.na(State) ~ "Missing",
State == "Arizona" ~ "AZ",
State == "Arkansas" ~ "AK",
State == "Alabama" ~ "AL",
TRUE ~ "Others")) %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015   state_flag
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661 AL
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143 Others
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724 AZ
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341 AK
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607 Others
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736 Others

### join() function
#### Use : Join two datasets
Syntax :

- inner_join(x, y, by = )
- left_join(x, y, by = )
- right_join(x, y, by = )
- full_join(x, y, by = )
- semi_join(x, y, by = )
- anti_join(x, y, by = )

- x, y - datasets (or tables) to merge / join
- by - common variable (primary key) to join by.

Applying INNER JOIN 
- returns rows when there is a match in both tables. In this example, we are merging df1 and df2 with ID as common variable (primary key).

In [ ]:
df3 = inner_join(df1, df2, by = "ID")

Applying LEFT JOIN
- LEFT JOIN : It returns all rows from the left table, even if there are no matches in the right table.

In [ ]:
left_join(df1, df2, by = "ID")

### Combine Data Vertically
intersect(x, y)
- Rows that appear in both x and y.

union(x, y)
- Rows that appear in either or both x and y.

setdiff(x, y)
- Rows that appear in x but not y.

### Applying INTERSECT

In [50]:
mtcars$model <- rownames(mtcars)
first <- mtcars[1:20, ]
second <- mtcars[10:32, ]

In [51]:
#INTERSECT selects unique rows that are common to both the data frames.
intersect(first, second)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
                    model
Merc 280            Merc 280
Merc 280C           Merc 280C
Merc 450SE          Merc 450SE
Merc 450SL          Merc 450SL
Merc 450SLC         Merc 450SLC
Cadillac Fleetwood  Cadillac Fleetwood
Lincoln Continental Lincoln Continental
Chrysler Imperial   Chrysler Imperial
Fiat 128            Fiat 128
Honda Civic         Honda Civic
Toyota Corolla      Toyota Corolla