### Additional and VERY useful dply utilities
Source: https://www.listendata.com/2016/08/dplyr-tutorial.html

In [ ]:
install.packages("dplyr")
library(dplyr)

In [1]:
mydata = read.csv("https://raw.githubusercontent.com/deepanshu88/data/master/sampledata.csv")

In [4]:
# take a look at the data set
mydata %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### Selecting Random N Rows
The sample_n function returns randomly # of rows. In the example below, it returns randomly 5 rows.

In [7]:
sample_n(mydata,5)

  Index State         Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 R     Rhode Island  1501744 1942942 1266657 1961923 1835983 1234040 1151409
2 W     Wisconsin     1788920 1518578 1289663 1436888 1251678 1721874 1980167
3 S     South Dakota  1159037 1150689 1660148 1417141 1418586 1279134 1171870
4 M     Massachusetts 1647582 1686259 1620601 1777250 1531641 1380529 1978904
5 G     Georgia       1929009 1541565 1810773 1779091 1326846 1223770 1773090
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1993136 1983569 1781016 1909119 1531212 1990412 1611730
2 1901394 1648755 1940943 1729177 1510119 1701650 1846238
3 1852424 1554782 1647245 1811156 1147488 1302834 1136443
4 1567651 1761048 1658538 1482203 1731917 1669749 1963337
5 1630325 1145473 1851245 1850111 1887157 1259353 1725470

Selecting Random Fraction of Rows - 10%

In [9]:
sample_frac(mydata,0.1)

  Index State                Y2002   Y2003   Y2004   Y2005   Y2006   Y2007
1 D     Delaware             1330403 1268673 1706751 1403759 1441351 1300836
2 T     Tennessee            1811867 1485909 1974179 1157059 1786132 1399191
3 A     Alabama              1296530 1317711 1118631 1492583 1107408 1440134
4 M     Maryland             1579713 1404700 1849798 1397738 1310270 1789128
5 D     District of Columbia 1111437 1993741 1374643 1827949 1803852 1595981
  Y2008   Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1762096 1553585 1370984 1318669 1984027 1671279 1803169 1627508
2 1826406 1326460 1231739 1469785 1849041 1560887 1349173 1162164
3 1945229 1944173 1237582 1440756 1186741 1852841 1558906 1916661
4 1112765 1967225 1486246 1872327 1175819 1314343 1979529 1569566
5 1193245 1739748 1707823 1353449 1979708 1912654 1782169 1410183

### Remove Duplicates - Rows based on all the variables (Complete Row)

In [11]:
# The distinct function is used to eliminate duplicates.
x1 = distinct(mydata)

x1 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### Remove Duplicate Rows based on a variable
- The .keep_all function is used to retain all other variables in the output data frame.

In [13]:
x2 = distinct(mydata, Index, .keep_all= TRUE)

x2 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
3 D     Delaware   1330403 1268673 1706751 1403759 1441351 1300836 1762096
4 F     Florida    1964626 1468852 1419738 1362787 1339608 1278550 1756185
5 G     Georgia    1929009 1541565 1810773 1779091 1326846 1223770 1773090
6 H     Hawaii     1461570 1200280 1213993 1245931 1459383 1430465 1919423
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1663809 1624509 1639670 1921845 1156536 1388461 1644607
3 1553585 1370984 1318669 1984027 1671279 1803169 1627508
4 1818438 1198403 1497051 1131928 1107448 1407784 1170389
5 1630325 1145473 1851245 1850111 1887157 1259353 1725470
6 1928416 1330509 1902816 1695126 1517184 1948108 1150882

### Remove- Duplicates Rows based on multiple variables
- In the example below, we are using two variables - Index, Y2010 to determine uniqueness.

In [15]:
x2 = distinct(mydata, Index, Y2010, .keep_all= TRUE)
x2 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146
  Y2009   Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1944173 1237582 1440756 1186741 1852841 1558906 1916661
2 1436541 1629616 1230866 1512804 1985302 1580394 1979143
3 1554330 1300521 1130709 1907284 1363279 1525866 1647724
4 1628980 1669295 1928238 1216675 1591896 1360959 1329341
5 1663809 1624509 1639670 1921845 1156536 1388461 1644607
6 1752387 1913275 1665877 1491604 1178355 1383978 1330736

### Select( ) Function
- It is used to select only desired variables.
- select() syntax : select(data , ....)
- data : Data Frame
- .... : Variables by name or by function

In [16]:
# Selecting Variables (or Columns)
# Suppose you are asked to select only a few variables. The code below selects variables "Index", columns from "State" to "Y2008".
mydata2 = select(mydata, Index, State:Y2008)

mydata2 %>% head()

  Index State      Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008
1 A     Alabama    1296530 1317711 1118631 1492583 1107408 1440134 1945229
2 A     Alaska     1170302 1960378 1818085 1447852 1861639 1465841 1551826
3 A     Arizona    1742027 1968140 1377583 1782199 1102568 1109382 1752886
4 A     Arkansas   1485531 1994927 1119299 1947979 1669191 1801213 1188104
5 C     California 1685349 1675807 1889570 1480280 1735069 1812546 1487315
6 C     Colorado   1343824 1878473 1886149 1236697 1871471 1814218 1875146